{% extends 'FlairOrganismeBundle::consultations.html.twig' %}

{% block body %}

<!-- Page Content -->
<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Mes consultations
          </h1>
          <ol class="breadcrumb">
              <li><a href="{{url('Homepage')}}">Accueil</a></li>
              <li class="active">Mes consultations</li>
          </ol>
      </div>
  </div>
  <div class="mainbox col-md-12">
      <div style="padding-top:10px" class="panel-body" >
        <div class="row">
          <div class="form-group">
            <!-- Button -->
            <div style="float:right">
              <a id="btn-login" href="{{ url('Organisme_creation_consultation_etape1') }}" class="btn btn-warning">  <i class="fa fa-plus-circle"></i>&nbsp;Créer une consultation </a>
            </div>
          </div>

        	</div>
          <br>

          <table class="table table-bordered" id="myTable">
              <thead>
                  <th>Titre</th>
                  <th>Status</th>
                  <th>Dates de clôture</th>
                  <th>Prix souhaité</th>
                  <th>Catégorie</th>
                  <th>Date de création</th>
                  <th data-sorter="false">Action</th>
              </thead>

              <tbody>
                  {% for consultation in consultations %}
                      {% if consultation.hasUnansweredQuestions %}
                          <tr data-url="{{ url('Organisme_consultation_questions', { 'id' : consultation.id } ) }}">
                      {% elseif consultation.statut == PUBLISHED %}
                          <tr data-url="{{ url('Organisme_consultation_reponses', { 'id' : consultation.id } ) }}">
                      {% else %}
                          <tr data-url="{{ url('Organisme_creation_consultation_etape1_modifier', { 'id' : consultation.id } ) }}">
                      {% endif %}
                          <td>
                              {% if consultation.hasUnansweredQuestions %}
                                  <a href="{{ url('Organisme_consultation_questions', { 'id' : consultation.id } ) }}">{{ consultation.titre | truncate(40) }}</a>
                                  <img style="float:right; padding-right: 10px;" src="{{ asset('images/icon_question.png') }}" alt="" data-title="Cette consultation a des questions en attente" title="">
                              {% elseif consultation.statut == PUBLISHED %}
                                  <a href="{{ url('Organisme_consultation_reponses', { 'id' : consultation.id } ) }}">{{ consultation.titre | truncate(40) }}</a>
                              {% else %}
                                  <a href="{{ url('Organisme_creation_consultation_etape1_modifier', { 'id' : consultation.id } ) }}">{{ consultation.titre | truncate(40) }}</a>
                              {% endif %}
                          </td>
                          <td>{{ consultation.statut | consultation_statut }}</td>
                          <td>{{ consultation.dateLimite | localizeddate('long', 'none', app.request.locale) }}</td>
                          <td>
                              {% if consultation.prixMinimum is not null %}
                                  {{ consultation.prixMinimum | euros }} - {{ consultation.prixMaximum | euros }}
                              {% else %}
                                  non renseigné
                              {% endif %}
                          </td>
                          <td>{{ consultation.categorie.nom | truncate(20) }}</td>
                          <td>{{ consultation.dateCreation | localizeddate('long', 'none', app.request.locale) }}</td>
                          <td class="invit">
                              <a style="color:red;margin-left:50%;" href="{{ url('Organisme_consultation_annuler', {'id' : consultation.id }) }}" data-confirm="Etes-vous sûr de vouloir supprimer cette consultation?" class="btn-delete js_confirm"><i class="fa fa-times" aria-hidden="true"></i></a>
                          </td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="7" class="center">
                              Vous n'avez pas de consultation pour l'instant...
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>

      {% if nbPrestataires == 0 %}
          <div class="flash notice center required">Vous ne pourrez diffuser vos consultations qu'après avoir pré-inscrit des prestataires</div>
      {% endif %}
  </div>
  {% endblock %}

  {% block inlineScript %}
  <script>
      $(function() {
    

          // Au clic sur une row, on affiche la consultation.
          $('body').delegate(".datatable tbody tr", 'click', function() {
              if ($(this).attr('data-url')) {
                  window.location.href = $(this).attr('data-url');
              }
          });

          // Soumission automatique du formulaire
          $("form.prestataires-filter").delegate("select", "change", function() {
              $("form.prestataires-filter").submit();
          });

          $("form.prestataires-filter").delegate("input", "change", function() {
              $("form.prestataires-filter").submit();
          });
      });
  </script>
  {% endblock %}
