{% extends 'FlairOrganismeBundle::consultations.html.twig' %}

{% set ANSWERED = constant('Flair\\CoreBundle\\Entity\\Reponse::ANSWERED') %}

{% block body %}
<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Mes consultations
          </h1>
          <ol class="breadcrumb">
              <li><a href="{{url('Homepage')}}">Accueil</a></li>
              <li><a href="{{url('Organisme_consultations')}}">Mes consultations</a></li>
              <li class="active">Consultation : {{ reponse.consultation.titre }}</li>


              <div class="btn-bar" style="float:right">
                  <a href="{{ url('Organisme_consultations') }}">
                  <i class="fa fa-undo"></i>
                      Retour à la liste
                  </a>
                  <div class="corner"></div>
              </div>
          </ol>
      </div>
  </div>

        {% set vars = { 'consultation' : reponse.consultation, 'step' : 3 } %}

        <div class="block-reponse" style="border:none">
            {% include 'FlairOrganismeBundle:Consultations:creation/menuCreation.html.twig' with vars %}

            <div class="consultation-content follow">
                <div class="menu-tab">
                    <a class="active item questions">
                        <i class="fa fa-list" aria-hidden="true"></i>Propositions
                    </a> 
                    <a class="item answers" href="{{ url('Organisme_consultation_questions', { 'id' : reponse.consultation.id }) }}">
                        <i class="fa fa-eye" aria-hidden="true"></i>Questions
                    </a>

                    <span class="date">
                        CLÔTURE : {{ reponse.consultation.dateLimite | date('d M Y') }}, dans
                        {{ reponse.consultation.dateLimite | date('d M Y') - "now" | date('d M Y') }} jours
                    </span>
                </div>

                <p id="sub-title">Voici la réponse de {{ reponse.prestataire.nom }}</p>
                <a class="orange btn back no-radius" href="{{ url('Organisme_consultation_reponses', { 'id' : reponse.consultation.id }) }}">Retour aux réponses</a>

                {% include 'FlairOrganismeBundle:Reponses:partials/details.html.twig' with {'reponse' : reponse } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block inlineScript %}
<script>
    $(function() {
        $('.questions, .answers').bind('mousedown', function() {
            if (!$(this).hasClass('active')) {
                $('.menu-tab .item').removeClass('active');
                $(this).addClass('active');
            }
        });

        $('.item').click(function() {
            if ($(this).attr('data-url')) {
                window.location.href = $(this).attr('data-url');
            }
        });
    });
</script>
{% endblock %}
