{% extends 'FlairOrganismeBundle::consultations.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Mes consultations
          </h1>
          <ol class="breadcrumb">
              <li><a href="{{url('Homepage')}}">Accueil</a></li>
              <li><a href="{{url('Organisme_consultations')}}">Mes consultations</a></li>
              <li class="active">Consultation : {{ consultation.titre }}</li>


              <div class="btn-bar" style="float:right">
                  <a href="{{ url('Organisme_consultations') }}">
                  <i class="fa fa-undo"></i>
                      Retour à la liste
                  </a>
                  <div class="corner"></div>
              </div>
          </ol>
      </div>
  </div>

        {% set vars = { 'consultation' : consultation, 'step' : 3 } %}

        {% include 'FlairOrganismeBundle:Consultations:creation/menuCreation.html.twig' with vars %}

        <div class="consultation-content follow">
            <div class="menu-tab">
                <a class="item questions" href="{{ url('Organisme_consultation_reponses', { 'id' : consultation.id }) }}">
                    <i class="fa fa-list" aria-hidden="true"></i> Propositions
                </a>
                <a class="active item answers">
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i> Questions

                    {% if consultation.hasUnansweredQuestions %}
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        <img style="float:right; padding-right: 10px;" src="{{ asset('images/icon_question.png') }}" alt="" data-title="Cette consultation a des questions en attente" title="">
                    {% endif %}
                </a>

                <span class="date">
                    CLÔTURE : {{ consultation.dateLimite | localizeddate('full', 'none') }}, dans
                    {{ consultation.dateLimite | date('d-M-Y') | date_diff("now" | date('d-M-Y')) }} jours
                </span>
            </div>

            <p id="sub-title">Voir les questions sur votre consultation</p>

            <table class="table consultation-documents">
                <thead>
                <tr>
                    <th width="10%">Date</th>
                    <th width="20%">Prestataire</th>
                    <th width="25%">Question</th>
                    <th width="25%">Réponse</th>
                    <th width="20%">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.dateQuestion | date('d-m-Y') }}</td>
                        <td>{{ question.reponse.prestataire.nom }}</td>
                        <td>
                            {{ question.titre }}
                        </td>
                        <td>
                            {% if question.reponseOrganisme == "" %}
                                Vous n'avez pas répondu
                            {% else %}
                                Vous avez donné une réponse
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url('Organisme_consultation_questions_afficher', {'id' : question.id } ) }}"><i class="fa fa-eye" aria-hidden="true"></i> Voir la question</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Vous n'avez pas de question.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="actions">
                <a style="margin-left:2px"href="{{ url('Organisme_consultation_annuler', { 'id' : consultation.id }) }}" class="btn js_confirm" data-confirm="Etes-vous sûr de vouloir supprimer cette mise en concurrence?">Supprimer la consultation</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block inlineScript %}
    {{ parent() }}
{% endblock %}
